{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img style="height: 250px;width: 250px;border-radius: 150px" class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/MO.jpg" alt="">
		<h1 class="mb-0">Name: Mohamed Najeh </h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Web Programming - Python - Django</h2>
	  </div>
	</header>
	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">

            <h2 style="text-align: center;color: #ff1317;margin-top: -250px">Port<span style="color: black">folio</span> </h2>
			<section>
                <div class="details2">
                    <i class="fa fa-user"></i>
                    <h3>Personal Target</h3>
                    <h4 >Looking To complete studying after garduation and Employed as an
                         ios developer in any country except Egypt and reach a high position
                         in a perfect place .</h4>
                </div>
            </section>
<section>
                <div class="details2">
                    <i class="fa fa-briefcase"></i>
                    <h3>Work Experience</h3>

                <ul class="parent">
                    <li class="pr">IOS Development</li>
                    <ul class="ch">
                        <li>Swift.</li>
                        <li>SwiftUI.</li>
                        <li>Cocoa pods.</li>
                        <li>APIs.</li>
                    </ul>
                </ul>
                <hr>
                <ul class="parent">
                    <li class="pr">Problem Solving</li>
                    <ul class="ch">
                        <li>Number theory.</li>
                        <li>back tracking.</li>
                        <li>Bit mask.</li>
                        <li>Dynamic programming.</li>
                    </ul>
                </ul>
                <hr>
                <ul class="parent">
                    <li class="pr">GUI Designer</li>
                    <ul class="ch">
                        <li>GUI designe in C#.</li>
                        <li>GUI designe in Java.</li>
                    </ul>
                </ul>
                <hr>
                <ul class="parent">
                    <li class="pr">Some of my work</li>
                    <ul class="ch">
                        <li>Make desktop application of Hospital depend on java & SQL Server.</li>
                        <li>Creating an ios app for blood donation called "دمك حياة".</li>
                        <li>creating ios app for TechVillage company called "Who Caller".</li>
                        <li>creating ios app for Termno company called "Tomato".</li>
                        <li>creating ios app for App Cup Comitition called "Amblunce".</li>
                        <li>creating simple ios app Working as Real time chat app using fire base".</li>
                    </ul>
                </ul>
                <hr></div>
            </section>
			<section>
                <div class="details2">
                    <i class="fa fa-graduation-cap"></i>
                    <h3>Education</h3>

                <ul class="parent">
                    <li class="pr">High School</li>
                    <ul class="ch">
                        <li>Started in 2014.</li>
                        <li>Ended in 2016.</li>
                        <li>Get 92.3 pct.</li>
                    </ul>
                </ul>
                <hr>
                <ul class="parent">
                    <li class="pr">College</li>
                    <ul class="ch">
                        <li>Faculty of computers and information.</li>
                        <li>Luxor university.</li>
                        <li>In Graduatio Year.</li>
                    </ul>
                </ul>
                <hr>
                <ul class="parent">
                    <li class="pr">Languages</li>
                    <ul class="ch">
                        <li>Arabic.</li>
                        <li>English.</li>
                    </ul>
                </ul>
                <hr>
                <ul class="parent">
                    <li class="pr">Courses i have learned</li>
                    <ul class="ch">
                        <li>Swift Development Course</li>

                        <li>Problem Solving</li>

                        <li>C# Programming Language</li>
                        <li>C++ Programming Language</li>
                        <li>java Programming Language</li>
                        <li>python Programming Language</li>
                        <li>Object oriented Programming </li>


                    </ul>
                </ul>
                <hr></div>
            </section>
            <h2 class="text-center text-uppercase text-white mb-0">Profile</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Who Caller</h5>
					<p class="card-text">An app working such as True Caller</p>
					<a href="https://github.com/MohammedNajeh/WhoCaller" class="btn btn-danger">Github</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Tomato</h5>
					<p class="card-text">A shop for Vigtebles and fruites</p>
					<a href="https://github.com/mgabouarab/Tomato" class="btn btn-danger">Github </a>
				  </div>
				</div>
			  </div>
			</div>
			<br>

	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">

			<p class="lead" style="color: red;background-color: white;font-weight: 900;font-size: 30px;font-family: 'Tahoma';text-align: center;margin-left: 200px">Thank you for reviewing my portfolio </p>

		</div>

	  </div>
	</section>
			<br><hr><br>

{% endblock %}